<div id="show">
    <div class="textAdv">
        <span>{{user.name}}
              {{user.lastname}}
        </span>
        <div class="advs">
            {{#each advs}}
                <p>{{this.name}}</p>
                <p>{{this.description}}</p>
                <p>{{this.date}}</p>
                <div class="edit">
        <a href="/adventures/new" class="btn btn-primary">Edit</a>
    </div>
                <p>#############################################################</p>
            {{/each}}
        </div>

    </div>
    <div class="textForm">
        <a href="/adventures/new" class="btn btn-primary">Add</a>
    </div>

</div>