<div>
    {{#if adv}}
        <form
            action="/adventures/edit/{{adv.id}}"
            method="post"
            enctype="multipart/form-data">
        {{else}}
            <form action="/adventures/new" method="post" enctype="multipart/form-data">
            {{/if}}
            <div class="nameAdv">
                <label for="">Adventure Name</label>
                {{#if adv}}
                    <input name="name" type="text" value="{{adv.name}}">
                {{else}}
                    <input name="name" type="text">
                {{/if}}

                <label for="">Date
                </label>
                {{#if adv}}
                    <input type="date" name="date" id="date" value="{{adv.date}}"></div>
            {{else}}
                <input type="date" name="date" id="date"></div>
        {{/if}}

        <div class="textAdv">
            {{#if adv}}
                <textarea name="description">
                    {{adv.description}}
                </textarea>
                    <img class="photoAdv" src="{{adv.imgPath}}" alt="- adventure image -">


            {{else}}
                <textarea name="description">"Add a New Adventure ..."
                </textarea>
            {{/if}}

        </div>
        <div class="imgAdv">
            <label>Image</label>
            <input type="file" name="photo" value="{{adv.imgPath}}">
        </div>

        {{!-- 


--}}
        <div class="textForm">
            <button class="btn btn-primary" type="submit">[ + ]</button>
        </div>
    </form>
    {{#if message}}
        <br>
        <div id="mess">{{message}}</div>
        <br>
    {{/if}}
</div>