<div id="show">
    <div class="textAdv">
        <span>{{user.name}}
            {{user.lastname}}
        </span>
        <div class="advs">
            {{#each advs}}
                <p>{{this.name}}</p>
                <p>{{this.description}}</p>
                <p>{{this.date}}</p>
                <a href="/adventures/edit/{{this.id}}">
                <button class="btn btn-primary">
                    Edit
                </button>
                </a>

                <form action="/adventures/delete/{{this.id}}" method="post">
                    <input type="submit" value="Delete" class="btn btn-primary">
                </form>

                <p>#############################################################</p>
            {{/each}}
        </div>

    </div>
    <div class="textForm">
        <a href="/adventures/new" class="btn btn-primary">Add New</a>
    </div>

</div>